.App {
  font-family: sans-serif;
  text-align: center;
}
.four-grid {
  display: grid;
  margin: auto;
  width: 50vw;
  height: 50vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.card-component-btn{
  padding: 2rem;
  font-size: 2rem;
  background-color: #4700D8;
  color: white;
  border-radius: 1rem;
  border: none;
  transition: transform .2s;
}
.card-component-btn:disabled{
  text-decoration: none;
  text-transform: none;
}
.card-component-btn:hover{
  cursor: pointer;
  background-color:#9900F0 ;
  transform: scale(1.1)
}
.question-icon{
  font-size: 2.2rem;
}
.solved{
  background-color:#9900F0 ;
}